.hero
    .hero__slider.slick
        .slick__item(style='background-image: url(https://source.unsplash.com/category/nature/1600x900)')
            .container
                h2.hero__info Измените свою жизнь
                    br
                    | Получите новую професию
                    br
                    | в индустрии красоты

        .slick__item(style='background-image: url(https://source.unsplash.com/category/nature/1600x902)')
            .container
                h2.hero__info Освойте новую профессию
                    br
                    | всего за 4 недели

                button Обзор курсов
                button Записатся на курсы

        .slick__item(style='background-image: url(https://source.unsplash.com/category/nature/1600x901)')
            .container
                h2.hero__info Измените свою жизнь
                    br
                    | Получите новую професию
                    br
                    | в индустрии красоты
