.slick
  &__item
    background-position center
    background-size cover
    background-repeat no-repeat
    display flex !important
    flex-direction column
    justify-content center
  &-slider
    position relative
  &-arrow
    position absolute
    top 50%
    transform translateY(-50%)
    width 30px
    height 30px
    background none
    box-shadow none
    border none
    outline none
    font-size 0
    background-image url('../images/arrows-2x.png')
    background-size auto 100%
    background-repeat no-repeat
    z-index 10
    cursor pointer
  &-prev
    left 30px
    background-position-x 0
  &-next
    right 30px
    background-position-x -20px
