nav.menu
    .menu__item.menu__item_active
        a.menu__link(href='/') Главная
    .menu__item
        a.menu__link(href='/about.html') О нас
    .menu__item
        a.menu__link(href='/price.html') Курсы и цены
    .menu__item
        a.menu__link(href='/teachers') Преподаватели
    .menu__item
        a.menu__link(href='/faq.html') FAQ
    .menu__item
        a.menu__link(href='/modelyam-besplatnye-strizhki-manikyur-i-narashhivanie-nogtej.html') Моделям
    .menu__item
        a.menu__link(href='/contacts.html') Контакты
