nav.menu
    .menu__item.menu__item_active
        a.menu__link(href="#about") Главная
    .menu__item
        a.menu__link(href="#about") О нас
    .menu__item
        a.menu__link(href="#about") Курсы и цены
    .menu__item
        a.menu__link(href="#about") Преподаватели
    .menu__item
        a.menu__link(href="#about") FAQ
    .menu__item
        a.menu__link(href="#about") Моделям
    .menu__item
        a.menu__link(href="#about") Контакты
