.menu
  display flex
  min-height 100%
  @media (max-width 992px)
    flex-direction column
  &__item
    display flex
    align-items center
    position relative
    color #595959
    font-size 16px
    font-weight 700
    text-transform uppercase
    transition .4s
    @media (max-width 992px)
      padding 0
      border-bottom 1px dotted
      &:hover
        padding-left 20px
    &_active
      color #adadad
  &__link
    padding 3px 14px
    line-height 20px
    font-weight 700
    font-size 14px
    text-decoration none
    color inherit
    transition .4s
    @media (max-width 992px)
      padding 15px 0
    &:hover
      color #adadad
